{% extends 'base.html' %}
{% load static %}

{% block titulo %} LOGIN {% endblock titulo %}

{% block content %}

<div class="login-container"> 
    <h2>INICIAR SESIÓN</h2>
    <br>

    <form method="POST" class="login-form"> 
        {% csrf_token %}

        {# Muestra los errores NO relacionados con un campo específico (como credenciales inválidas) #}
        {% if form.non_field_errors %}
            <div class="alert alert-danger error-message" style="text-align: center;">
                {% for error in form.non_field_errors %}
                    <p>Por favor, asegúrese de que su nombre de usuario y contraseña son correctos. Tenga en cuenta que ambos campos son sensibles a mayúsculas/minúsculas.</p>
                {% endfor %}
            </div>
        {% endif %}

        {# Campo de Nombre de Usuario #}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error-message">
                    {% for error in form.username.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {# Campo de Contraseña #}
        <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Contraseña:</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="error-message">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <input type="hidden" name="next" value="{{ next }}" />

        <br>
        <button type="submit">Entrar</button> 
    </form>
    <br>
    <br>
    <div class="text-center my-4">
        <h2 class="mb-3">¿No tienes una cuenta?</h2>
        <h3>
            <a href="{% url 'usuarios:registro' %}" class="text-decoration-none" style="color: #d81ce9;">Registrarse</a>
        </h3>
    </div>

{% endblock content %}  