{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Editar Post</h1>
<br>
<form method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
    </div>
    
    <div class="d-flex justify-content-end mt-3">
        <input type="submit" value="Guardar cambios" class="btn btn-success me-2">
        <a class="btn btn-secondary" href="{% url 'news:post_detail' post.pk %}">Cancelar y volver</a>
    </div>
</form>

{% endblock content %}