{% extends 'base.html' %}
{% load static %}


{% block content %}

<h1>Editar Post</h1>
<br>
{% comment %} <form method="post">
    <br>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <div> <input type="submit" value="Guardar cambios">  <button type="button" class="btn btn-primary"><a class="nav-link" href="{% url 'news:post_detail' post.pk %}">Cancelar y volver</a></button></div>
    
</form> {% endcomment %}
<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
    </div>
    
    <div class="d-flex justify-content-end mt-3">
        <input type="submit" value="Guardar cambios" class="btn btn-success me-2">
        {# Cancel button with link to post detail #}
        <a class="btn btn-secondary" href="{% url 'news:post_detail' post.pk %}">Cancelar y volver</a>
    </div>
</form>

{% endblock content %}