<div class="border-top my-3"></div>

<div class="container">
    <footer class="py-4 my-4 border-top">
        <div class="row">
            <div class="col text-center">
                <h5 class="text-uppercase">Navegación</h5>
                {% with request.resolver_match.url_name as url_name %}
                <ul class="nav justify-content-center mb-3">
                    <li class="nav-item">
                        <a href="{% url 'news:home' %}" class="nav-link px-2 text-body-secondary {% if url_name == 'news:home' %}active{% endif %}">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'nosotros' %}" class="nav-link px-2 text-body-secondary {% if url_name == 'nosotros' %}active{% endif %}">Nosotros</a>
                    </li>
                </ul>
                {% endwith %}
            </div>
        </div>

        <div class="text-center">
            <p class="text-body-secondary mb-1">Grupo 11 del Informatorio 2025</p>
            <p class="text-body-secondary">
                <a href="https://github.com/emyypg/blog" target="_blank" rel="noopener noreferrer" class="text-decoration-none">Enlace al proyecto</a>
            </p>
        </div>
    </footer>
</div>